<div class="left_side_el">
    <div class="menu_bar" id = "menu_bar_id" onclick = " menu_bar(event)">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <div class="hidden_menu_tab" id = "menu_tab_down">
        <div class="menu_list_elements_down">
            <p>Branded Foods
            </p>
        </div>
        <div class="menu_list_elements_down">
            <p>Households</p>
        </div>
        <div class="menu_list_elements_down" 
        id = "veg_meat_id">
            <p>Veggies & Fruits ▼</p>
        </div>
        <div class="veg_meat_dropdown"
            style = "display: none;
            font-size : 30px;
            text-align: center;"
            id = "veg_meat_dropdown_id">
            <p>Vegetales</p>
            <p>Fruits</p>
        </div>
        <div class="menu_list_elements_down">
            <p>Kitchen</p>
        </div>
        <div class="menu_list_elements_down">
            <p>Short Codes</p>
        </div>
        <div id="beverage_list_elements">
            <div class="menu_list_elements_down"
            id = "Beverage_id">
                <p>Beverage ▼</p>
            </div>
            <div class="Beverage_dropdown"
            style = "display: none;
            font-size : 30px;
            text-align: center;
            height: 200px;
            background-color: white;"
            id = "Beverage_dropdown_id">
            <p>Soft Drink</p>
            <p>Juice</p>
        </div>
        </div>

        <div class="menu_list_elements_down">
            <p>Pet Food</p>
        </div>
        
        <div class="menu_list_elements_down"
            id = "Frozen_id">
                <p>Frozen Foods ▼</p>
        </div>
        <div class="Frozen_dropdown"
            style = "display: none;
            font-size : 30px;
            text-align: center;"
            id = "Frozen_dropdown_id">
            <p>Frozen Snack</p>
            <p>Forzen Beverage</p>
        </div>
        
        <div class="menu_list_elements_down">
            <p>Bread & Bakery</p>
        </div>
    </div>

    <div class="menu_section_row">
            <div class="menu_list_elements">
                <p>Branded Foods
                </p>
            </div>
            <div class="menu_list_elements">
                <p>Households</p>
            </div>
            <div class="menu_list_elements_veg">
                <p>Veggies & Fruits ▼</p>
                <div class="menu_veg_meat">
                    <p>Vegetales</p>
                    <p>Fruits</p>
                </div>
            </div>
            <div class="menu_list_elements">
                <p>Kitchen</p>
            </div>
            <div class="menu_list_elements">
                <p>Short Codes</p>
            </div>
            <div class="menu_list_elements_bev">
                <p>Beverage ▼</p>
                <div class="menu_bev">
                    <p>Soft Drink</p>
                    <p>Juice</p>
                </div>
            </div>
            
            <div class="menu_list_elements">
                <p>Pet Food</p>
            </div>
            <div class="menu_list_elements">
                <p>Frozen Foods </p>
            </div>
            <div class="menu_list_elements_FF">
                <p>Frozen Foods ▼</p>
                <div class="menu_FF">
                    <p>Frozen Snack</p>
                    <p>Forzen Beverage</p>
                </div>
            </div>   
        </div>
</div>