<div class="mySlides" id = "slide1">
    <img class = "image_slide1" src="https://demo.w3layouts.com/demos_new/template_demo/20-07-2017/grocery_store-demo_Free/725976873/web/images/1.jpg">
    
    <div class="slide_word">
        <h1 style = "font-weight: lighter;
        font-size: 60px;">MAKE YOUR</h1>
        <h1 style = "font-weight: bold;
        ">FOOD</h1>
        <h1 style = "font-weight: lighter;
        ">WITH SPICY</h1>
        <button class = "slide1_button"
        href = "#">SHOP NOW</button>
    </div>


</div>